* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0;
    background-color: dimgray;
}

/* Make the default behavior for links to be the same 
    color as the text surroundin them, and embolden when hovered */
a {
    color: inherit;
}

a:hover {
    font-weight: bold;
}

/* Make navbar stay at top */
.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
}

/* Navbar items are in an ul */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: white;
}

/* Make each item a nice looking square button */
.navbar li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 2px solid #222;
}

/* Make background lighter when hovered */
.navbar li a:hover {
    background-color: #444;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    max-width: 25%;
}

/* Middle column */
.column.middle {
    max-width: 50%;
}

.column.middle.solo {
    margin: auto;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 750px) {

    .column.side, .column.middle {
        float: none;
        max-width: 100%;
    }

    .column.middle {
        order: 1;
    }

    .column.middle.solo {
        margin: 0;
    }

    .column.side {
        order: 2;
    }

    .row {
        display: grid;
    }
}